## Importing important libraries

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
import sklearn.preprocessing as preprocessing

In [68]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
pd.get_dummies(df, prefix='encoded')

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"encoded_Ahlin, Mrs. Johan (Johanna Persdotter Larsson)","encoded_Allen, Mr. William Henry","encoded_Andersson, Miss. Ellis Anna Maria",...,encoded_E31,encoded_E46,encoded_F E69,encoded_F G73,encoded_F2,encoded_F33,encoded_G6,encoded_C,encoded_Q,encoded_S
0,1,0,3,22.0,1,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,22.0,1,0,66.6000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
152,153,0,3,55.5,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
153,154,0,3,40.5,0,2,14.5000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
154,155,0,3,NaN,0,0,7.3125,0,0,0,...,0,0,0,0,0,0,0,0,0,1
155,156,0,1,51.0,0,1,61.3792,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [70]:
target_var = df['Survived'] 
cols = list(df.columns)
cols.remove("Survived")
features = df[cols]

In [71]:
model = linear_model.LinearRegression()

In [72]:
# Dividing sample and test data 
from sklearn.model_selection import train_test_split

features_train, features_test, target_train, target_test = train_test_split(features, target_var, test_size=0.10, random_state=1)

In [77]:
def summarise(df):
    for column in df.columns:
        print(column)
        if df.dtypes[column] == np.object:
            print("{}\n".format(df[column].value_counts()))
        else:
            print("{}\n".format(df[column].describe()))
        
        
summarise(df)

PassengerId
count    156.000000
mean      78.500000
std       45.177428
min        1.000000
25%       39.750000
50%       78.500000
75%      117.250000
max      156.000000
Name: PassengerId, dtype: float64

Survived
count    156.000000
mean       0.346154
std        0.477275
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

Pclass
count    156.000000
mean       2.423077
std        0.795459
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

Name
Allen, Mr. William Henry         1
Chronopoulos, Mr. Apostolos      1
Caldwell, Master. Alden Gates    1
Bonnell, Miss. Elizabeth         1
Osen, Mr. Olaf Elon              1
                                ..
Waelens, Mr. Achille             1
Goodwin, Miss. Lillian Amy       1
Braund, Mr. Owen Harris          1
Nicola-Yarred, Miss. Jamila      1
Moran, Mr. James                 1
Name: Name, Length: 156, dtype: int64

Sex
male      100
female     56
Name: Sex, dtype: int64

Age
count    126.000000
mean      28.141508
std       14.613880
min        0.830000
25%       19.000000
50%       26.000000
75%       35.000000
max       71.000000
Name: Age, dtype: float64

SibSp
count    156.000000
mean       0.615385
std        1.056235
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        5.000000
Name: SibSp, dtype: float64

Parch
count    156.000000
mean       0.397436
std        0.870146
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        5.000000
Name: Parch, dtype: float64

Ticket
19950       2
2651        2
113803      2
347082      2
237736      2
           ..
312991      1
2680        1
349241      1
330932      1
PC 17754    1
Name: Ticket, Length: 145, dtype: int64

Fare
count    156.000000
mean      28.109587
std       39.401047
min        6.750000
25%        8.003150
50%       14.454200
75%       30.371850
max      263.000000
Name: Fare, dtype: float64

Cabin
C23 C25 C27    2
D26            2
C123           2
F E69          1
F2             1
C85            1
B58 B60        1
B78            1
B28            1
A6             1
D10 D12        1
E31            1
D56            1
E46            1
C103           1
B86            1
D47            1
C2             1
E101           1
C83            1
F G73          1
A5             1
F33            1
D33            1
B30            1
C110           1
G6             1
C52            1
Name: Cabin, dtype: int64

Embarked
S    110
C     32
Q     13
Name: Embarked, dtype: int64

In [85]:
# Encode the data using LabelEncoder

def encodeData(df):
    result = df.copy()
    encoders = {}
    for column in df.columns:
        if df.dtypes[column] == np.object:
            encoders[column] = preprocessing.LabelEncoder()
            result[column] = encoders[column].fit_transform(result[column])
    return result, encoders

encoded_data, _ = encodeData(df)

print(encoded_data.head())

TypeError: argument must be a string or number

In [82]:
def roundingup(df):
    for col in df.columns:
        print(df[col].dtype)
        if df[col].dtype == np.float64:
            print("y")
    return None
            
roundingup(df)

int64
int64
int64
object
object
float64
y
int64
int64
object
float64
y
object
object

In [75]:
# Teaching the model

model.fit(features_train, target_train)

ValueError: could not convert string to float: 'Webber, Miss. Susan'